<!DOCTYPE html>
<html>
<head>
  <title>Backbone.js</title>
</head>
<body>
  <a id="nuevo_alumno" href="#">Nuevo alumno</a>
  <script type="text/javascript" src="lib/require.js" data-main="app/main.js"></script>
  <script type="text/javascript">
    requirejs.config({
      urlArgs: 'timestamp=' + Date.now(),
      paths: {
        jquery: '../lib/jquery',
        underscore: '../lib/underscore',
        backbone: '../lib/backbone',
        text: '../lib/text'
      },
      shims: {
        'backbone': {
          deps: [ 'underscore', 'jquery' ],
          exports: 'Backbone'
        }
      }
    });
  </script>
  <script type="text/html" id="plantilla_alumno">
    <strong>Nombre:</strong> <%= nombre%>
    <br />
    <strong>Apellido:</strong> <%= apellido %>
    <br/>
    <strong>Edad:</strong> <%= edad %>
  </script>
</body>
</html>